* {
  margin: 0;
  padding: 0;
}
main {
  background-image: linear-gradient(#2193b0, #6dd5ed);
  height: 100vh;
}
.button-wrapper {
  height: 40vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  border-top: 3px solid white;
}
.rps-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pa-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  top: 40px;
}
.btn {
  background: #cc0000;
  border-radius: 11px;
  box-shadow: 0 0px #170808;
  height: 60px;
  width: 200px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 26px/1 "Open Sans", sans-serif;
  border: 2px solid white;
}
.play-again {
  background: #ff9900;
  border-radius: 11px;
  box-shadow: 0 0px #170808;
  color: #ffffff;
  font: normal bold 26px/1 "Open Sans", sans-serif;
  height: 60px;
  width: 200px;
  border: 2px solid white;
}
.text-field {
  height: 51vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-left: 3px solid white;
  border-radius: 15px 15px 0px 0px;
  font-size: 1.5em;
  color: #eee;
  font-family: sans-serif;
}
/* pseudo classes */
button:hover {
  background-color: #2193b0;
}
